@font-face {
  font-family: 'jetbrain';
  src: url('../fonts/JetBrainMono/fonts/webfonts/JetBrainsMono-Regular.woff2')
    format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --black: #000000;
  --white: #ffffff;
  --light-gray: rgb(241, 241, 241);
}

body {
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* position: relative; */
}
main {
  margin-top: 6rem;
}
#header {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  width: 100%;
  z-index: 100;
}
#header_titre {
  height: 6rem;
  padding: 1rem;
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border-bottom: 0.2rem solid var(--black);
  text-decoration: none;
}
#header_titre > h1 {
  font-weight: bold;
  font-size: 1.5rem;
  max-width: 55%;
}
#header_photo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

#burger {
  display: none;
}
#header_iconBurger {
  display: inline;
  width: 2rem;
  cursor: pointer;
}
#header_iconClose {
  display: none;
  width: 2rem;
  cursor: pointer;
}

#burger:checked ~ #header_menuNav {
  display: flex;
  top: 4.5rem;
  right: -1.7rem;
  z-index: -2;
  position: absolute;
}
#burger:checked ~ #label_burger > #header_iconClose {
  display: flex;
}
#burger:checked ~ #label_burger > #header_iconBurger {
  display: none;
}

#header_menu {
  /* display: flex; */
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
#header_menuNav {
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 4.5rem;
  right: -15rem;
  width: fit-content;
  padding: 1.5rem 2rem;
  background-color: rgb(241, 241, 241);
  border: 0.2rem solid black;
  border-top: 0rem solid black;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  z-index: -1;
}

#header_menuNav ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  /* z-index: -1; */
}
#header_menuNav li {
  list-style: none;
  width: 100%;
}
#header_menuNav li a {
  color: var(--black);
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.35rem;
  width: 100%;
  display: flex;
  transition: 0.2s;
}
#header_menuNav li a:hover {
  color: var(--white);
  background-color: black;
  /* text-decoration: underline; */
}
#lang {
  position: relative;
  display: none; /* TODO: A re-afficher quand yaura les fonctionnalités*/
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#lang button {
  width: 3rem;
  padding: 0.5rem 0;
  background-color: var(--black);
  color: var(--white);
  border-radius: 0.75rem;
  border: 2px solid var(--white);
  cursor: pointer;
}
#socials {
  display: none;
}
/**
* Footer
*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  height: 4rem;
  width: 100%;
}
.footer > p {
 color: var(--white);
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  main {
    margin-top: 6rem;
  }
  #header {
    display: flex;
    height: 6rem;
    padding: 2rem;
    background-color: rgb(241, 241, 241);
    border-bottom: 0.125rem solid var(--black);
    justify-content: space-between;
    align-items: center;
  }
  #header_titre {
    height: fit-content;
    width: fit-content;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  #header_titre > h1 {
    max-width: none;
  }
  #header_menu {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  #header_menuNav {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    top: 0;
    right: 0;
    background-color: unset;
    padding: 0;
    z-index: 0;
    border: none;
  }
  
  .inNavMobile{
    display: none;
  }
  #burger:checked ~ #header_menuNav {
    display: flex;
    top: 0;
    right: 0;
    z-index: 0;
    position: relative;
  }
  #header_menuNav ul {
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    
    align-items: center;
  }
  #header_menuNav li a{
    white-space: nowrap;
  }
  #header_menuNav div {
    gap: 1.5rem;
    flex-direction: row;
  }

  #label_burger {
    display: none;
  }
  .liSocialMedia {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
