* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --black: #000000;
  --white: #ffffff;
}
body{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}


.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--black);
  color: var(--white);
  height: 6rem;
  width: 100%;
  z-index: 1000;
}
#header_titre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#header_titre > h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
#header_photo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

#burger {
  display: none;
}
#header_iconBurger {
  display: block;
  width: 2rem;
  cursor: pointer;
}
#header_iconClose {
  display: none;
  width: 2rem;
  cursor: pointer;
}

#burger:checked ~ #header_menuNav {
  display: flex;
}
#burger:checked ~ #label_burger > #header_iconBurger {
  display: none;
}
#burger:checked ~ #label_burger > #header_iconClose {
  display: block;
}

#header_menu {
  display: flex;
}
#header_menuNav {
  position: absolute;
  top: 6rem;
  right: 0;
  width: fit-content;
  padding: 1.5rem 2rem;
  background-color: rgb(14, 14, 14);
  display: none;
  align-items: end;
  justify-content: right;
}

#header_menuNav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
#header_menuNav li {
  list-style: none;
}
#header_menuNav li a {
  color: var(--white);
  text-decoration: none;
}
#header_menuNav div {
  display: none; /* TODO: A re-afficher quand yaura les fonctionnalités*/
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#header_menuNav div button {
  width: 3rem;
  padding: 0.5rem 0;
  background-color: var(--black);
  color: var(--white);
  border-radius: 0.75rem;
  border: 2px solid var(--white);
  cursor: pointer;
}
/**
* Footer
*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  height: 4rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    height: 8rem;
    padding: 2rem;
  }
  #header_menuNav {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    top: 0;
    left: 0;
    background-color: unset;
    padding: 0;
  }
  #header_menuNav ul {
    gap: 1.5rem;
    flex-direction: row;
  }
  #header_menuNav div {
    gap: 1.5rem;
    flex-direction: row;
  }

  #label_burger {
    display: none;
  }
}
