* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --black: #000000;
    --white: #ffffff;
}
body{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
main{
    width: 100%;
}